doctype html
html(lang='en')
  head
    title Camera demo

    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0')
    meta(name='description' content='Something for you to begin with.')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='mobile-web-app-capable' content='yes')

    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(type="text/css" rel="stylesheet" href="./css/app.css")
  body.landscape
    #capture
      video#video autoplay
      #overlay-wrapper
        #overlay
      #caption Aim camera at a business card
    #orientation
      button.change-orientation
        img(src='./res/rotate.png')
    #snap
      button
        i.material-icons photo_camera

    script(src='https://code.jquery.com/jquery-1.12.4.min.js')
    script(src='./js/app.js')
