html, body
  margin: 0
  padding: 0

body
  color: #222222
  font-weight: 400
  font-size: large

.padding
  padding: 10px 15px

#capture
  position: fixed
  width: 100vw
  height: 100vh
  background: gray
  z-index: -1
  object-fit: cover

@media (orientation: portrait)
  #overlay
    opacity: .5
    position: absolute;
    top: 10vw;
    right: 5vh;
    bottom: 10vw;
    left: 5vh;
    background-color: lightgray
    .portrait
      display: block
      padding: 4em
      display: block
      .icon
        display: block
        width: 100%
        .material-icons
          color: gray
          font-size: 144px
      .text
        display: block
        width: 100%
        .line
          padding-top: 4px
          background: gray
          margin-top: 2em
    .landscape
      display: none

@media (orientation: landscape)
  #overlay
    opacity: .5
    position: absolute;
    left: 10vw;
    top: 5vh;
    right: 10vw;
    bottom: 5vh;
    background-color: lightgray
    .portrait
      display: none
    .landscape
      padding: 4em
      display: block
      .icon
        display: inline-block
        width: 45%
        .material-icons
          color: gray
          font-size: 144px
      .text
        display: inline-block
        width: 50%
        .line
          padding-top: 4px
          background: gray
          margin-top: 2em

@media (orientation: landscape)
  #capture-button
    right: 5vw;
    top: calc(50vh - 40px);
@media (orientation: portrait)
  #capture-button
    bottom: 5vh;
    left: calc(50vw - 40px);

#capture-button
  width: 80px
  height: 80px
  position: fixed;
  .material-icons
    font-size: 36px
    line-height: 78px
